.container {
    margin-top: 50px;
    width: 600px;
}

select.form-select {
    width: 200px;
    margin: 0px 25px 0px 0px;
    display: block !important;
}

.error {
    color: red;
}

.error-form input {
    border-color: #e74c3c;

}

.error-form select {
    border-color: #e74c3c;
}

.success input {
    border-color: #2ecc71;
}

.success select {
    border-color: #2ecc71;
}